<h1>Usuarios registrados</h1>
<%= line_chart User.group(:created_at).count %>
<p>notas extendidas</p>
<%= line_chart ExtendedNote.group(:created_at).count %>
<p>notas extendidas con metodo dia</p>
<%= line_chart ExtendedNote.group(:created_at).count %>
<p>notas extendidas con metodo horas </p>
<%= line_chart ExtendedNote.group(:created_at).count %>
<p>notas extendidas con metodo minutos </p>
<%= line_chart ExtendedNote.group(:created_at).count %>
