<div class="carousel carousel-slider no-autoinit">
    <a class="carousel-item" href="#one!">
        <%= image_tag "6.jpg" %>
    </a>
    <a class="carousel-item" href="#two!">
        <%= image_tag "5.jpg" %>
    </a>
    <a class="carousel-item" href="#three!">
        <%= image_tag "4.jpg" %>
    </a>
    <a class="carousel-item" href="#four!">
        <%= image_tag "7.jpg" %>
    </a>
</div>
<div class="container">

</div>

<div class="row center-xs">
    <div class="col-xs-12 col-lg-6">
        <div class="card borde-radio-8">
            <div class="card-content">
                <section class="fondo">
                    <h5>Bienvenidos a La Gran Comisión Comunidad Cristiana Integral de las Asambleas de Dios</h5>
                </section>
                <span class="card-title verdeBri-text left-align">Nombre de la publicacion</span>
                <p class="left-align">Descripción detallada de la publicación, realizada por el administrador para que los usuarios visualicen contenido de interés en general para los feligreses de la comunidad cristiana integral</p>
            </div>

        </div>
    </div>
</div>
<footer class="page-footer white-text blue-grey darken-2" style="padding-top: 0">
    <div class="footer-copyright ">
        <div class="container">
            <a class="btn-floating  btn-small waves-effect waves-light btn-flat">
                <i><%= image_tag "icons8-facebook-nuevo-24.png" %></i>
            </a>
            <a class="btn-floating  btn-small waves-effect waves-light btn-flat">
                <i><%= image_tag "icons8-instagram-24.png" %></i>
            </a>
            <a class="btn-floating  btn-small waves-effect waves-light btn-flat">
                <i><%= image_tag "icons8-twitter-cuadrado-24.png" %></i>
            </a>
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>

<script>
    $('.carousel.carousel-slider').carousel({
        fullWidth: true,
        indicators: true,
        duration: 100
    });
</script>