<%= form_with(model: previous_church, local: true) do |form| %>
  <% if previous_church.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(previous_church.errors.count, "error") %> prohibited this previous_church from being saved:</h2>

      <ul>
      <% previous_church.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :previous_church_nombre %>
  </div>

  <div class="field">
    <%= form.label :tiempo %>
    <%= form.text_field :tiempo, id: :previous_church_tiempo %>
  </div>

  <div class="field">
    <%= form.label :address_id %>
    <%= form.text_field :address_id, id: :previous_church_address_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :previous_church_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
