<%if @combo=='discipleship' %>
  <%=collection_select(:enroll,:group_id,@groups, :id, :codigo, options = {:prompt => 'Seleccione'}, html_options = {class: "no-autoinit", onChange: "update_versions_div(this.options[this.selectedIndex].value,'grupo');"})%>
  <label>Grupo</label>
<%end%>
<%if @combo=='grupo' %>



        <%if @group%>

            <tr>
              <td class="primario-text robotoB"><%=@group.horary.presence ? @group.horary.lunes : '' %></td>
              <td class="primario-text robotoB"><%=@group.horary.presence ? @group.horary.martes : '' %></td>
              <td class="primario-text robotoB"><%=@group.horary.presence ? @group.horary.miercoles : '' %></td>
              <td class="primario-text robotoB"><%=@group.horary.presence ? @group.horary.jueves : '' %></td>
              <td class="primario-text robotoB"><%=@group.horary.presence ? @group.horary.jueves : '' %></td>
              <td class="primario-text robotoB"><%=@group.horary.presence ? @group.horary.sabado : '' %></td>
              <td class="primario-text robotoB"><%=@group.horary.presence ? @group.horary.domingo : '' %></td>
            </tr>

      <% end %>
<%end%>
<%if @combo=='estudiante' %>
<div class="row middle-xs">
  <div class=" avatar-76 circle  z-depth-2">
    <%= image_tag "http://www.requitix.io/mypics/max/68/686472_person-vector-png.jpg", class: "img" %>

  </div>

  <div class="col-xs no-margin">
    <span class="text-14 secundario-text robotoB left-align"><%= @estudiante.nombre_completo%></span>
    <span class="titulos-text robotoL left-align"><%= @estudiante.rango %></span>
    <span class="titulos-text left-align"><%= @estudiante.telefono%></span>
    <span class="titulos-text left-align"><%= @estudiante.email%></span>

  </div>

</div>

<% end %>




<script type="text/javascript">

$(document).ready(function(){
    $('select').formSelect();
  });

</script>
