<%if @combo=='discipleship' %>
  <%=collection_select(:enroll,:group_id,@groups, :id, :nombre, options = {:prompt => 'Seleccione'}, html_options = {class: "no-autoinit", onChange: "update_versions_div(this.options[this.selectedIndex].value,'grupo');"})%>
  <label>Grupo</label>
<%end%>
<%if @combo=='grupo' %>

        
                
        <%if @group%>
        <table class="bordered striped white">
          <thead>
            <tr>
                <th>Dias</th>
                <th>Horas</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <th>Lunes</th>
              <td><%=@group.horary.presence ? @group.horary.lunes : '' %></td>
            </tr>
            <tr>
              <th>Martes</th>
              <td><%=@group.horary.presence ? @group.horary.martes : '' %></td>
            </tr>
            <tr>
              <th>Miercoles</th>
              <td><%=@group.horary.presence ? @group.horary.miercoles : '' %></td>
              
            </tr>
            <tr>
              <th>Jueves</th>            
              <td><%=@group.horary.presence ? @group.horary.jueves : '' %></td>
              
            </tr>
            <tr>
              <th>Viernes</th>              
                       
              <td><%=@group.horary.presence ? @group.horary.jueves : '' %></td>
              
            </tr>
            <tr>
              <th>Sabado</th>
                       
              <td><%=@group.horary.presence ? @group.horary.sabado : '' %></td>
              
            </tr>
            <tr>
                <th>Domingo</th>
                  
              <td><%=@group.horary.presence ? @group.horary.domingo : '' %></td>
              
            </tr>
          </tbody>
        </table>
      <% end %>
<%end%>
<%if @combo=='estudiante' %>
  <b>Nombre: </b><p><%=@estudiante.nombre_completo%></p>
  <b>Docente a cargo: </b><p>algo</p>
  <b>Estudiantes inscritos: </b><p>algo</p>
<% end %>




<script type="text/javascript">

$(document).ready(function(){
    $('select').formSelect();
  });

</script>