<div class="row middle-xs no-margin " style="height: 80%">
  <div class="container">
  <div class="row center-xs">
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
      <div class="card borde-radio-10">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="card-content padding-36 ">
            <span class="card-title robotoB titulos-text padding-0 margin-0">Iniciar sesión</span>

              <div class="row around-xs">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="box">
                    <div class="input-field margin-0 margin-top-12">
                      <i class="material-icons prefix">assignment</i>
                      <%= f.label :identificacion, "Identificacion" %>
                      <%= f.number_field :identificacion %>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="box">
                    <div class="input-field margin-0 margin-top-12">
                      <i class="material-icons prefix">vpn_key</i>
                      <%= f.label :password , "contraseña"%>
                      <%= f.password_field :password, autocomplete: "off", class: "titulos-text" %>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row center-xs">
                <div class="col-xs-12">
                  <%= f.submit "Ingresar",class: "btn  waves-light  borde-radio-18 robotoB" %>
                </div>
              </div>

                <div class="col-xs-12">
                  <%=link_to "Crear una cuenta", new_user_registration_path, class: "green-text robotoB" %>
                </div>


          </div>

        <% end %>
      </div>
    </div>
  </div>
  </div>

</div>
<script>
    $(document).ready(function(){
    // $('.sidenav').sidenav();
  });
    </script>
