<p id="notice"><%= notice %></p>

<h1>Ministeries</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ministeries.each do |ministery| %>
      <tr>
        <td><%= ministery.nombre %></td>
        <td><%= ministery.text %></td>
        <td><%= link_to 'Show', ministery %></td>
        <td><%= link_to 'Edit', edit_ministery_path(ministery) %></td>
        <td><%= link_to 'Destroy', ministery, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ministery', new_ministery_path %>
