<div class="row middle-xs no-margin">
  <div class="container ">
    <div class="row center-xs">
        <div class=" col-xs-12 col-sm-8 col-md-6 col-lg-8">
            <div class="card z-depth-3 borde-radio-10">
                <div class="card-content ">
                    <span class="card-title"><%=@texto%></span>

                    <%= form_for(@datos) do |f| %>
                      <div class="row center-xs">

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                          <div class="box">
                            <div class="input-field">
                              <i class="material-icons prefix">border_color</i>
                              <%= f.label :codigo , "Nombre"%>
                              <%= f.text_field :codigo, id: :group_codigo %>
                            </div>
                          </div>
                        </div>

                        <div class="col-xs-11 col-sm-11 col-md-11 col-lg-6">
                          <div class="box">
                            <div class="input-field">
                              <%= f.collection_select(:user_id, @docentes, :id, :nombre_completo,options = {prompt: "Seleccione"},html:{class: "no-autoinit"} ) %>
                              <%= f.label :teacher_id , "Nombre docente"%>
                            </div>
                          </div>
                        </div>
                        <div class="col-xs-11 col-sm-11 col-md-11 col-lg-6">
                          <div class="box">
                            <label>
                              <%= f.check_box :activo%>
                              <span>Activo</span>
                            </label>
                          </div>
                        </div>
                        <br><br>
                        <label class="col-xs-12">Horario</label>

                        <ul class="collapsible col-xs-12 no-autoinit">
                          <li>
                            <div class="collapsible-header"><i class="material-icons">event</i>Lunes</div>
                            <div class="collapsible-body padding-20">
                              <div class= "row no-margin">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                  <div class="box">
                                    <div class="input-field no-margin">

                                    <%= text_field :horary, :lunesInicio,class: "timepicker" %>
                                    <%= label(:horary,:lunesInicio, "Inicio") %>
                                    </div>
                                  </div>
                                </div>

                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                  <div class="box">
                                    <div class="input-field no-margin">
                                      <%= text_field :horary, :lunesFinal,class: "timepicker" %>
                                      <%= label(:horary,:lunesFinal, "Final") %>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="collapsible-header"><i class="material-icons">event</i>Martes</div>
                            <div class="collapsible-body padding-20">
                              <div class= "row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                  <div class="box">
                                    <div class="input-field no-margin">
                                      <%= text_field :horary, :martesInicio,class: "timepicker" %>
                                      <%= label(:horary,:martesInicio, "Inicio") %>
                                    </div>
                                  </div>
                                </div>

                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                  <div class="box">
                                    <div class="input-field no-margin">
                                      <%= text_field :horary, :martesFinal,class: "timepicker" %>
                                      <%= label(:horary,:martesFinal, "Inicio") %>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="collapsible-header"><i class="material-icons">event</i>Miercoles</div>
                            <div class="collapsible-body padding-20">
                              <div class= "row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                  <div class="box">
                                    <div class="input-field no-margin">
                                      <%= text_field :horary, :miercolesInicio,class: "timepicker" %>
                                      <%= label(:horary,:miercolesInicio, "Inicio") %>
                                    </div>
                                  </div>
                                </div>

                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                  <div class="box">
                                    <div class="input-field no-margin">
                                      <%= text_field :horary, :miercolesFinal,class: "timepicker" %>
                                      <%= label(:horary,:miercolesFinal, "Final") %>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="collapsible-header"><i class="material-icons">event</i>Jueves</div>
                            <div class="collapsible-body padding-20">
                              <div class= "row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                  <div class="box">
                                    <div class="input-field no-margin">
                                      <%= text_field :horary, :juevesInicio,class: "timepicker" %>
                                      <%= label(:horary,:juevesInicio, "Inicio") %>
                                    </div>
                                  </div>
                                </div>

                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                  <div class="box">
                                    <div class="input-field no-margin">
                                      <%= text_field :horary, :juevesFinal,class: "timepicker" %>
                                      <%= label(:horary,:juevesFinal, "Inicio") %>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="collapsible-header"><i class="material-icons">event</i>Viernes</div>
                            <div class="collapsible-body padding-20">
                              <div class= "row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                  <div class="box">
                                    <div class="input-field no-margin">
                                      <%= text_field :horary, :viernesInicio,class: "timepicker" %>
                                      <%= label(:horary,:viernesInicio, "Inicio") %>
                                    </div>
                                  </div>
                                </div>

                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                  <div class="box">
                                    <div class="input-field no-margin">
                                      <%= text_field :horary, :viernesFinal,class: "timepicker" %>
                                      <%= label(:horary,:viernesFinal, "Inicio") %>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="collapsible-header"><i class="material-icons">event</i>Sabado</div>
                            <div class="collapsible-body padding-20">
                              <div class= "row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                  <div class="box">
                                    <div class="input-field no-margin">
                                      <%= text_field :horary, :sabadoInicio,class: "timepicker" %>
                                      <%= label(:horary,:sabadoInicio, "Inicio") %>
                                    </div>
                                  </div>
                                </div>

                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                  <div class="box">
                                    <div class="input-field no-margin">
                                      <%= text_field :horary, :sabadoFinal,class: "timepicker" %>
                                      <%= label(:horary,:sabadoFinal, "Inicio") %>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="collapsible-header"><i class="material-icons">event</i>Domingo</div>
                            <div class="collapsible-body padding-20">
                              <div class= "row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                  <div class="box">
                                    <div class="input-field no-margin">
                                      <%= text_field :horary, :domingoInicio,class: "timepicker" %>
                                      <%= label(:horary,:domingoInicio, "Inicio") %>
                                    </div>
                                  </div>
                                </div>

                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                  <div class="box">
                                    <div class="input-field no-margin">
                                      <%= text_field :horary, :domingoFinal,class: "timepicker" %>
                                      <%= label(:horary,:domingoFinal, "Inicio") %>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </li>

                        </ul>
                      </div>
                      <div class="actions ">

                        <%= f.submit "Aceptar",class: "btn  waves-light borde-radio-5" %>
                        <br><br>
                      </div>
                    <%end%>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

$(document).ready(function(){
  $('.collapsible').collapsible();
    $('select').formSelect();
    $('.timepicker').timepicker({
  min: [8,0],
  max: [18,50]
});
  });

</script>
