<div class="row middle-xs no-margin">
  <div class="container ">
    <div class="row center-xs">
        <div class=" col-xs-12 col-sm-8 col-md-6 col-lg-6">
            <div class="card z-depth-3">
                <div class="card-content ">
                    <span class="card-title"><%=@texto%></span>
                    
                    <%= form_for([:discipleship,@group], local: true) do |f| %>
                      <div class="row around-xs">
                          
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                          <div class="box">                               
                            <div class="input-field">
                              <i class="material-icons prefix">border_color</i>
                              <%= f.label :nombre , "Nombre"%>
                              <%= f.text_field :nombre, id: :group_nombre %>
                            </div>
                          </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                          <div class="box">                               
                            <div class="input-field">
                              <%= f.collection_select(:teacher_id, User.joins(:teacher), :id, :primerNombre,options = {prompt: "Seleccione"} ) %>
                              <%= f.label :teacher_id , "Nombre docente"%>
                              
                            </div>
                          </div>
                        </div>

                        
                            
                      </div>
                      <div class="actions ">
                        <%= link_to 'Volver', discipleship_groups_path , class: "btn  waves-light   "%>
                        <%= f.submit "Aceptar",class: "btn  waves-light  " %>
                        <br><br>   
                      </div>
                    <%end%>
                </div>
            </div>
        </div>
    </div>
</div>

<%= form_for([:discipleship,@group], local: true) do |form| %>
  

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :group_nombre %>
  </div>

  <div class="field">
    <%= form.label :activo %>
    <%= form.check_box :activo, id: :group_activo %>
  </div>

  <div class="field">
    <%= form.label :discipleship_id %>
    <%= form.text_field :discipleship_id, id: :group_discipleship_id %>
  </div>

  <div class="field">
    <%= form.label :teacher_id %>
    <%= form.text_field :teacher_id, id: :group_teacher_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
