<!-- grupo de botonos flotantes, editar, eliminar, etc -->
<div class="fixed-action-btn ">
  <a class="btn-floating btn-large blue-grey darken-2">
    <i class="large material-icons">settings</i>
  </a>
  <ul>
    <li>

      <a class="btn-floating red btn modal-trigger" data-target= "modal1"><i class="material-icons">clear</i></a>
      <a class="mobile-fab-tip borde-radio-10">Eliminar</a>
    </li>
    <li><%= link_to '<i class="material-icons">mode_edit</i></a>'.html_safe, edit_group_path(@group), class: "btn-floating blue" %>
      <a class="mobile-fab-tip borde-radio-10">Editar</a>
    </li>


    <li>
      <a class="btn-floating green"><i class="material-icons">library_books</i></a>
      <a class="mobile-fab-tip borde-radio-10">Publicaciones</a>
    </li>
    <li>
      <%= link_to '<i class="material-icons">library_books</i></a>'.html_safe, group_ciclo_notas_path(@group), class: "btn-floating amber darken-1" %>
      <a class="mobile-fab-tip borde-radio-10">Notas</a>
    </li>

    <li>
      <%= link_to '<i class="material-icons">perm_contact_calendar</i></a>'.html_safe, group_asistencia_path(@group), class: "btn-floating amber darken-1" %>
      <a class="mobile-fab-tip borde-radio-10">Asistencia</a>
    </li>



  </ul>
</div>
<!-- fin de botones flontantes -->

<!-- modal de advertencia al intentar eliminar un grupo -->
<div id="modal1" class="modal borde-radio-10">
    <div class="modal-content center-xs ">

      <h4>Advertencia</h4>
      <p>se eliminara este grupo. esta seguro ?</p>
    </div>
    <div class="modal-footer">
      <%= link_to 'Eliminar', @group, method: :delete,class: "waves-effect waves-teal btn-flat red white-text borde-radio-5 " %>
    </div>
  </div>
<!-- fin del modal advertencia de eliminacion -->


  <div class="container padding-top-24">
    <div class="row start-xs ">

        <div class="row middle-xs no-margin">
          <div class=" avatar-86 circle  z-depth-2">
            <%= image_tag "http://www.requitix.io/mypics/max/68/686472_person-vector-png.jpg", class: "img" %>

          </div>

          <div class="col-xs no-margin">
            <span class="text-24 secundario-text robotoB"><%= @group.user ? @group.user.nombre_completo : 'sin docente asigando'%></span>
            <span class="titulos-text robotoL">Docente</span>
            <span class="titulos-text"><%= @group.user ? @group.user.email : 'correo no encontrado'%></span>

          </div>

        </div>

    </div>
    <div class="row between'xs">

      <div class="col-xs-12 col-lg-4 start-xs">
        <!-- inicio de informacion de docente avatar -->

<div class="card borde-radio-8 waves-effect hoverable" style="overflow: hidden;">

  <div class="card-content">
    <div class="row middle-xs margin-bottom-0">
      <div class="col-xs-8">
        <span class=" primario-text left-align text-20 robotoB ">Codigo</span>
      </div>
      <div class="col-xs-4">
        <span class=" borde-text right-align text-20 robotoB"><%=@group.codigo%></span>

      </div>
    </div>
    <div class="row middle-xs margin-bottom-0">
      <div class="col-xs-8">
        <span class=" primario-text left-align text-20 robotoB">Estudiantes inscritos</span>
      </div>
      <div class="col-xs-4">
        <span class=" borde-text right-align text-20 robotoB"><%=Enroll.where(group_id: @group).count %></span>

      </div>
    </div>

  </div>
  <section <%=@group.activo? ? "class='verdeAdo white-text borde-radio-buton-8'".html_safe : 'class="grey borde-radio-buton-8"'.html_safe %> >
      <% if @group.activo? %>
      <div class="actions center ">
        <span class=" blanco-text left-align text-20 robotoB">Activo</span>
      </div>
      <% else %>
      <div class="actions center ">
        <span class=" blanco-text left-align text-20 robotoB">Inactivo</span>
      </div>
      <% end %>

  </section>
</div>
<!-- fin de la carta -->



<!-- inicio del horario -->
<div class="card borde-radio-8 waves-effect hoverable" >

  <div class="card-content">
<div class="row center-xs margin-bottom-0">
  <span class="primario-text center-align text-20 robotoB">Horario</span>
</div>
<div class="row margin-bottom-0">
  <div class="col-xs-6">
    <span class="primario-text start-align text-20 robotoB">Dias</span>
  </div>
  <div class="col-xs-6">
    <span class="primario-text start-align text-20 robotoB">Horas</span>
  </div>
</div>
<div class="row margin-bottom-0">
  <div class="col-xs-6">
    <span class="primario-text start-align text-14 robotoB">Luens</span>
  </div>
  <div class="col-xs-6">
    <span class="borde-text start-align text-14 robotoB"><%=@group.horary.lunes%></span>
  </div>
</div>
<div class="row margin-bottom-0">
  <div class="col-xs-6">
    <span class="primario-text start-align text-14 robotoB">Martes</span>
  </div>
  <div class="col-xs-6">
    <span class="borde-text start-align text-14 robotoB"><%=@group.horary.martes%></span>
  </div>
</div>
<div class="row margin-bottom-0">
  <div class="col-xs-6">
    <span class="primario-text start-align text-14 robotoB">Miercoles</span>
  </div>
  <div class="col-xs-6">
    <span class="borde-text start-align text-14 robotoB"><%=@group.horary.miercoles%></span>
  </div>
</div>
<div class="row margin-bottom-0">
  <div class="col-xs-6">
    <span class="primario-text start-align text-14 robotoB">Jueves</span>
  </div>
  <div class="col-xs-6">
    <span class="borde-text start-align text-14 robotoB"><%=@group.horary.jueves%></span>
  </div>
</div>
<div class="row margin-bottom-0">
  <div class="col-xs-6">
    <span class="primario-text start-align text-14 robotoB">Viernes</span>
  </div>
  <div class="col-xs-6">
    <span class="borde-text start-align text-14 robotoB"><%=@group.horary.viernes%></span>
  </div>
</div>
<div class="row margin-bottom-0">
  <div class="col-xs-6">
    <span class="primario-text start-align text-14 robotoB">Sabado</span>
  </div>
  <div class="col-xs-6">
    <span class="borde-text start-align text-14 robotoB"><%=@group.horary.sabado%></span>
  </div>
</div>
<div class="row margin-bottom-0">
  <div class="col-xs-6">
    <span class="primario-text start-align text-14 robotoB">Domingo</span>
  </div>
  <div class="col-xs-6">
    <span class="borde-text start-align text-14 robotoB"><%=@group.horary.domingo%></span>
  </div>
</div>


  </div>

</div>

      </div>
      <div class="col-lg-8 start-xs">

        <div class="card borde-radio-8 waves-effect hoverable" >

        <div class="card-content center">
          <span class="robotoB text-20 primario-text">Estudiantes inscritos</span>
          <table class="no-lines highlight">
  <thead>
    <tr >
        <th class="robotoB text-20 primario-text">Identificacion</th>
        <th class="robotoB text-20 primario-text">Nombre</th>
        <th class="robotoB text-20 primario-text">Correo</th>
        <th class="robotoB text-20 primario-text">Telefono</th>

    </tr>
  </thead>

  <tbody>
    <%@students.each do |student|%>
    <tr>
      <td class=" text-14 primario-text"><%=student.user.identificacion%></td>
      <td class=" text-14 primario-text"><%=student.user.nombre_completo%></td>
      <td class=" text-14 primario-text"><%=student.user.email%></td>
      <td class=" text-14 primario-text"><%=student.user.telefono%></td>

    </tr>

    <% end %>
  </tbody>
</table>
          </div>

        </div>
      </div>
    </div>




  </div>

<script>
$(document).ready(function(){
    $('.fixed-action-btn').floatingActionButton();
    $('.modal').modal();
  });

</script>
