<div class="row center-xs">
    <div class="card z-depth-3 borde-radio-10 margin-10">

    <div id="dia">
      <div class="card-content padding-10">
      <span class="card-title">Registrar pacto</span>
      <%= form_with(model: covenant, local: true) do |form| %>
  <% if covenant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(covenant.errors.count, "error") %> prohibited this covenant from being saved:</h2>

      <ul>
      <% covenant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="file-field input-field">
    <div class="btn">
      <span>Seleccionar</span>
      <%= form.file_field :pdf, class: 'file_input' %>

      <!-- <input type="file"> -->
    </div>
    <div class="file-path-wrapper">
      <input class="file-path validate" type="text">
    </div>
  </div>

  <div class="field">
    <%= form.label :discipleship_id %>
    <%= form.text_field :discipleship_id, id: :covenant_discipleship_id %>
  </div>

  <div class="actions">
    <%= form.submit "Crear" %>
  </div>
<% end %>
    </div>

      <div class="padding-14">




      </div>
  </div>
  </div>
