<p id="notice"><%= notice %></p>

<p>
  <strong>Urlmultimedia:</strong>
  <%= @covenant.urlMultimedia %>
</p>

<p>
  <strong>Discipleship:</strong>
  <%= @covenant.discipleship %>
</p>

<p>
  <strong>Student:</strong>
  <%= @covenant.student %>
</p>

<%= link_to 'Edit', edit_covenant_path(@covenant) %> |
<%= link_to 'Back', covenants_path %>
