<%= form_with(model: solicit, local: true) do |form| %>
  <% if solicit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(solicit.errors.count, "error") %> prohibited this solicit from being saved:</h2>

      <ul>
      <% solicit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :solicit_user_id %>
  </div>

  <div class="field">
    <%= form.label :discipleship_id %>
    <%= form.text_field :discipleship_id, id: :solicit_discipleship_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
