<p id="notice"><%= notice %></p>

<h1>Solicits</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Discipleship</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @solicits.each do |solicit| %>
      <tr>
        <td><%= solicit.user %></td>
        <td><%= solicit.discipleship %></td>
        <td><%= link_to 'Show', solicit %></td>
        <td><%= link_to 'Edit', edit_solicit_path(solicit) %></td>
        <td><%= link_to 'Destroy', solicit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Solicit', new_solicit_path %>
