<%= form_with(model: address, local: true) do |form| %>
  <% if address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
      <% address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :direccion %>
    <%= form.text_field :direccion, id: :address_direccion %>
  </div>

  <div class="field">
    <%= form.label :origen %>
    <%= form.check_box :origen, id: :address_origen %>
  </div>

  <div class="field">
    <%= form.label :nombreBarrio %>
    <%= form.text_field :nombreBarrio, id: :address_nombreBarrio %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :address_user_id %>
  </div>

  <div class="field">
    <%= form.label :district_id %>
    <%= form.text_field :district_id, id: :address_district_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
