<%= form_with(model: address_church_and_document_expedition, local: true) do |form| %>
  <% if address_church_and_document_expedition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(address_church_and_document_expedition.errors.count, "error") %> prohibited this address_church_and_document_expedition from being saved:</h2>

      <ul>
      <% address_church_and_document_expedition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombreIglesiaAnterior %>
    <%= form.text_field :nombreIglesiaAnterior, id: :address_church_and_document_expedition_nombreIglesiaAnterior %>
  </div>

  <div class="field">
    <%= form.label :direccionIglesia %>
    <%= form.check_box :direccionIglesia, id: :address_church_and_document_expedition_direccionIglesia %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :address_church_and_document_expedition_user_id %>
  </div>

  <div class="field">
    <%= form.label :city_id %>
    <%= form.text_field :city_id, id: :address_church_and_document_expedition_city_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
