<p id="notice"><%= notice %></p>

<p>
  <strong>Nombreiglesiaanterior:</strong>
  <%= @address_church_and_document_expedition.nombreIglesiaAnterior %>
</p>

<p>
  <strong>Direccioniglesia:</strong>
  <%= @address_church_and_document_expedition.direccionIglesia %>
</p>

<p>
  <strong>User:</strong>
  <%= @address_church_and_document_expedition.user %>
</p>

<p>
  <strong>City:</strong>
  <%= @address_church_and_document_expedition.city %>
</p>

<%= link_to 'Edit', edit_address_church_and_document_expedition_path(@address_church_and_document_expedition) %> |
<%= link_to 'Back', address_church_and_document_expeditions_path %>
