<%= form_with(model: discipleship, local: true) do |form| %>
  <% if discipleship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(discipleship.errors.count, "error") %> prohibited this discipleship from being saved:</h2>

      <ul>
      <% discipleship.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :discipleship_nombre %>
  </div>

  <div class="field">
    <%= form.label :rangoOtorgado %>
    <%= form.text_field :rangoOtorgado, id: :discipleship_rangoOtorgado %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_field :descripcion, id: :discipleship_descripcion %>
  </div>

  <div class="field">
    <%= form.label :descripcionPacto %>
    <%= form.text_field :descripcionPacto, id: :discipleship_descripcionPacto %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
