
<div class="container">
  <div class="row center-xs">
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
      <div class="card borde-radio-10  padding-14">
        <%= form_for @material do |f| %>


          <div class="file-field input-field">
            <div class="btn">
              <span>Seleccionar</span>
              <%= f.file_field :pdf, class: 'file_input' %>

              <!-- <input type="file"> -->
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text">
            </div>
          </div>
          <div class="input-field">
            <%= f.label :descripcion %>
            <%= f.text_field :descripcion, id: :material_descripcion %>
          </div>
          <div class="actions">
            <%= f.submit "Guardar",class: "btn  waves-light  borde-radio-5"  %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
