
<div class="container">
  <div class="row center-xs no-margin-bottom">
  <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
    <div class="card borde-radio-10  padding-14">
      <div class="row center-xs no-margin-bottom">
        <div class="col-xs-2">
          <%= image_tag icon_file_type(@material.pdf_identifier || "archivo.file"), :size => "50x50" %>

        </div>
        <div class="col-xs-10">
          <div class="row no-margin-bottom">
            <span class="card-title"><%= link_to @material.pdf_identifier,  @material.pdf.url , class: "green-text" %></span>
            <p class="margin-0"> <%= @material.descripcion %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="row center-xs no-margin-bottom">
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
      <div class="card borde-radio-10  padding-14">
        <%= form_with model: @publication, url: material_publicar_path do |f| %>

        <div class="input-field">
          <%= f.label :titulo %>
          <%= f.text_field :titulo, id: :publication_titulo %>
        </div>
        <div class="input-field">
          <%= f.label :descripcion %>
          <%= f.text_field :descripcion, id: :publication_descripcion %>
        </div>
        <span>seleccione los grupos en los cuales se publicara este archivo</span>
        <table class="highlight striped ">
          <thead>
          <tr>
            <th><p>Grupo</p></th>
            <th>Discipulado</th>
            <th>Seleccionar</th>

          </tr>
          </thead>
          <tbody>
          <tr>


            <%= collection_check_boxes(:publicacion, :lista, @groups, :id, :codigo) do |b| %>

              <td>
                <p><%= b.object.codigo%></p>
              </td>
              <td>
                <p><%= b.object.discipleship.nombre%></p>
              </td>

              <td class="center-xs">
                  <label>

                    <%= b.check_box %>



                    <span></span>
                  </label>
              </td>
              </tr>
            <% end %>
            </tbody>
        </table>
        <div class="padding-14">

          <%= f.submit "Publicar", class: "btn  waves-light   borde-radio-8" %>


        </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
